.capitol_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.capitol_marco{
    width: 100%;
    justify-content: space-between;
}

.capitol_left{
    display: flex;
    gap: 40px;
}

.capitulos_box{
    display: flex;
    flex-direction: column;
    gap: 12px;
}