
.home {
  width: 100%;
  height: 100%;
  background-color: var(--color-blue900);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home_titols{
    padding-top: 140px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
   
}

.home_fons{
    height: 50%;
    display: flex;
    align-items: flex-end;
}

.apoteca {
 width: 100%;
  /*height: 300px;  o la mida exacta que vulguis */
  object-fit: cover;
  object-position: center;
  display: block;
}

.logo{
    width: 271px;
}