.container {
  position: relative;
  width: 100%;
  aspect-ratio: 362 / 200;
  background: var(--color-blue900);
  clip-path: polygon(
    8px 0%,
    calc(100% - 8px) 0%,
    100% 8px,
    100% calc(100% - 8px),
    calc(100% - 8px) 100%,
    8px 100%,
    0% calc(100% - 8px),
    0% 8px
  );
  border: 6px solid #00a9a9;
  overflow: hidden;
  box-shadow: 0px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;

 
}
.container:hover .shine { animation: shine 0.75s forwards; }

.container_locked{
    width: 100%;
    background: var(--color-blue700);
    aspect-ratio: 362 / 200;
   clip-path: polygon(
    8px 0%,
    calc(100% - 8px) 0%,
    100% 8px,
    100% calc(100% - 8px),
    calc(100% - 8px) 100%,
    8px 100%,
    0% calc(100% - 8px),
    0% 8px
  );
  border: 6px solid var(--color-blue700);
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  

}

.container_locked img{
    width: 44px;
}

.container_locked_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  padding: 12px;
  z-index: 3;
}

.shine {
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  z-index: 2;
  pointer-events: none;
}

/* ✨ Animació de “shine” */
@keyframes shine {
  100% {
    left: 125%;
  }
}
