.footer{
    background-color: var(--color-blue600);
    width: 100%;
    color: var(--color-white);
    display: flex;
    justify-content: space-around;
     border-top: 1px solid var(--color-blue700);
    
}

.footer_option{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    padding: 8px;
}

.footerContainer {
 
  position: absolute;
  width: 100%;
    bottom: 0;
    background-color: #222;
    box-sizing: border-box;
}

.footer_option:hover {
    opacity: 0.9;
}

.active {
    
    opacity: 1;
    background-color: var(--color-blue500);
}