.app {
  /*text-align: center;*/
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main_menu{
  width: 100%;
  height: 100%;
  display: flex; 
  flex-direction: column;
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/


.responsive-box {

  background-color: var(--color-white);
  height: 95vh;
  aspect-ratio: 412 / 917;
  position: relative;
}

@media (max-width: 768px) {
  .responsive-box {
    width: 100%;
    height: 100vh;
    aspect-ratio: auto;
  }
}